In [7]:
!head ./../data/Cyclistes/cycliste_10.csv

id,timestamp,sur_velo,velo,vitesse,position,destination_finale
10,1,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,2,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,3,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,4,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,5,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,6,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,7,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,8,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False
10,9,False,False,0.3756742039556301,(lon:15.36 lat:6.73),False

In [9]:
import pandas as pd

In [23]:
df = pd.read_csv("./../data/Cyclistes/cycliste_12.csv")

In [24]:
df.head()

,id,timestamp,sur_velo,velo,vitesse,position,destination_finale
0,12,1,False,False,0.53213,(lon:0.04 lat:0.51),False
1,12,2,False,False,0.53213,(lon:0.04 lat:0.51),False
2,12,3,False,False,0.53213,(lon:0.04 lat:0.51),False
3,12,4,False,False,0.53213,(lon:0.04 lat:0.51),False
4,12,5,False,False,0.53213,(lon:0.04 lat:0.51),False

In [25]:
df.drop_duplicates(subset="destination_finale")

,id,timestamp,sur_velo,velo,vitesse,position,destination_finale
0,12,1,False,False,0.53213,(lon:0.04 lat:0.51),False
28799,12,28800,False,False,0.53213,(lon:0.04 lat:0.51),(lon:9.53 lat:3.87)
61199,12,61200,False,False,0.53213,(lon:9.53 lat:3.87),(lon:0.04 lat:0.51)

In [26]:
import notebook_importer
from transform_timestamp_in_date import transform_timestamp_in_date

In [27]:
transform_timestamp_in_date(28800).hour

8

In [28]:
transform_timestamp_in_date(61200).hour

17